# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Compiled output
dist
build

# IDE-specific files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db
